{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="profile_info">
        <div class="profile_data">
          <h3>{{ profile_user.position}}</h3>
          <h2><span>{{ profile_user.first_name }}</span> {{ profile_user.last_name }}</h2>
          <p>Здесь будет несколько слов о себе</p>
          <div class="contacts_info">
              <div class="title_contact" onclick="toggleContacts()">
                  <p>Контактная информация</p>
                  <img id="chevron" src="{% static 'img/akar-icons_chevron-down.svg' %}">
              </div>
                <div class="contact_details" id="contactDetails">
                  {% if profile_user.vk %}
                  <div class="contact_line">
                      <img src="{% static 'img/vk.svg' %}" alt="">
                      <p>Ваш ВК: {{ profile_user.vk }}</p>
                  </div>
                  {% endif %}

                  {% if profile_user.telegram %}
                  <div class="contact_line">
                      <img src="{% static 'img/telegram.svg' %}" alt="">
                      <p>Ваш телеграм: {{ profile_user.telegram }}</p>
                  </div>
                  {% endif %}

                  {% if profile_user.email %}
                  <div class="contact_line">
                      <img src="{% static 'img/email.svg' %}" alt="">
                      <p>Ваш email: {{ profile_user.email }}</p>
                  </div>
                  {% endif %}

                  {% if profile_user.telephone %}
                  <div class="contact_line">
                      <img src="{% static 'img/telephone.svg' %}" alt="">
                      <p>Ваш телефон: {{ profile_user.telephone }}</p>
                  </div>
                  {% endif %}
                  {% if profile_user.linkedin %}
                  <div class="contact_line">
                      <img src="{% static 'img/linkedin.svg' %}" alt="">
                      <p>Linkedin: {{ profile_user.linkedin }}</p>
                  </div>
                  {% endif %}
                  {% if profile_user.whatsapp %}
                  <div class="contact_line">
                      <img src="{% static 'img/whatsapp.svg' %}" alt="">
                      <p>WhatsApp: {{ profile_user.whatsapp }}</p>
                  </div>
                  {% endif %}
                  {% if profile_user.ok %}
                  <div class="contact_line">
                      <img src="{% static 'img/ok.svg' %}" alt="">
                      <p>Одноклассники: {{ profile_user.ok }}</p>
                  </div>
                  {% endif %}
                </div>
          </div>
        </div>
          <div class="online_status">
              {% if profile_user.last_seen and profile_user.last_seen|timesince < '5 minutes' %}
                  <img src="{% static 'img/Ellipse%2069.svg' %}" class="status-dot">
                  <span class="online-text">В сети</span>
              {% else %}
                  <span class="offline-text">Не в сети</span>
              {% endif %}
          </div>
          {% if user.id == profile_user.id %}
            <div class="setting">
                <img src="{% static 'img/SettingsMajor%201.svg'%} ">
            </div>
          {% endif %}
        <div class="profile_photo">
          <img src="{{ profile_user.image.url }}">
        </div>
      </div>
      <div class="order">
        <h2>Мои заказы</h2>
        <div class="order_list">
          <div id="create_order" class="order_cart">
            <img  src="img/CirclePlusMajor%201.svg">

            <h4>Создать заказ</h4>

          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
          <div class="order_cart">
            <img src="img/order_cart.jpeg">
            <h4>Название заказа</h4>
            <h5>Цена заказа</h5>
          </div>
        </div>
      </div>
{% endblock content %}


      </div>
      <script src="js/app.js"></script>
      <script>
          function toggleContacts() {
              const contactDetails = document.getElementById('contactDetails');
              const chevron = document.getElementById('chevron');

              if (contactDetails.classList.contains('show')) {
                  contactDetails.classList.remove('show');
                  chevron.style.transform = 'rotate(0deg)';
              } else {
                  contactDetails.classList.add('show');
                  chevron.style.transform = 'rotate(180deg)';
              }
          }
      </script>
