{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="line_category_service">
    <div class="category_service">
        <a href="{% url 'projects:services' %}">Услуги</a>
    </div>
    <div class="category_service">
        <a href="{% url 'projects:list' %}">Проекты</a>
    </div>
    {% for cat in category %}
    <div class="category_service">
        <a href="#">{{ cat.name }}</a>
    </div>
    {% endfor %}
    <div class="category_service">
        <a id="all_services" href="{% url 'projects:list' %}">Все категории</a>
    </div>
</div>

<div class="service">
    <h2>{{ title }} ({{ projects.count }} шт.)</h2>
    <div class="project_list">
        <div id="create_order" class="project_cart">
            <img src="{% static 'img/CirclePlusMajor 1.svg' %}">
            <h4>Сделать заказ</h4>
        </div>
        
        {% for project in projects %}
        <a href="{{ project.get_absolute_url }}" class="project_cart">
            <div class="header_project">
              {% with project.media_files.first as media %}
              {% if media %}
                  <img src="{{ media.file.url }}" alt="{{ project.title }}">
              {% else %}
                  <img src="{% static 'img/order_cart.jpeg' %}" alt="No image">
              {% endif %}
              {% endwith %}
                <h3>{{ project.title }}</h3>
            </div>
            <h5 class="project_price">{{ project.price }} ₽</h5>
            <p>{{ project.description|truncatewords:20 }}</p>
            <span class="view_project">Посмотреть</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}