<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M&N Digital</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <meta name="theme-color" content="#fafafa">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <div class="logo">
          <img src="img/logo.png" alt="Фото пока нет">
          <h3>M&N Digital</h3>
        </div>
        <div class="menu">
          <a class="menu_link">
            Главная</a>
          <a class="menu_link">
            Проекты</a>
          <a class="menu_link">
            Услуги</a>
          <a class="menu_link">
            Создать заказ</a>
        </div>
        <div class="account_preview">
          <h4>Дизайнер Дизайнеров</h4>

          <img src="img/кругляшк.png">
          <a href=""><img src="img/akar-icons_chevron-down.svg"></a>
        </div>
      </div>
      <div class="container_object">
        <div class="object_view">

          <div class="info_object">
            <div class="title_object">
              <h2>Название услуги</h2>
            </div>
            <div class="object_data">
              <div class="global_photo">
                <img src="img/Rectangle%2037.png" alt="">
              </div>
              <div class="next_photo">
                <img src="img/Стрелка%20в%20бок.svg" alt="">
              </div>
              <div class="back_photo">
                <img src="img/Стрелка%20назад.svg" alt="">
              </div>
              <div class="list_photo">
                <div class="mini_photo">
                  <img src="img/1.jpeg" alt="">
                </div>
                <div class="mini_photo">
                  <img src="img/2.jpeg" alt="">
                </div>
                <div class="mini_photo">
                  <img src="img/3.jpeg" alt="">
                </div>
                <div class="mini_photo">
                  <img src="img/4.jpeg" alt="">
                </div>
                <div class="mini_photo">
                  <img src="img/5.jpeg" alt="">
                </div>
              </div>
              <div class="text_object"></div>
              <div class="question_object">

              </div>
            </div>
          </div>
        </div>
        <div class="object_options">
          <h2>Основное предложение</h2> 
          <p>Дизайн лэндинга с мобильной и компьютерной версией дизайна.</p>
          <div class="price_and_term">
            <h2 class="price">50000 рублей</h2>
            <h4 class="term">Сделаю за 5 дней</h4>
          </div>
          <div class="modification">
            <h4>Колличество добработок: 5</h4>
            <h4>Переменная 1: Значение 1</h4>
            <h4>Переменная 2: Значение 2</h4>
          </div> 
          <div class="add_options">
            <h3>Дополнительные опции</h3>
            <div class="contacts_info">
              <div class="title_contact" onclick="toggleContacts()">
                  <h4>Планшетная версия</h4>
                  <img id="chevron" src="img/akar-icons_chevron-down.svg">
              </div>
                <div class="contact_details" id="contactDetails">
                  <p>Адаптация под планшет и экраны среднего размера</p>
                  <h4>Срок выполнения: 1 день</h4>
                  <h4>Стоимость: 1500 рублей</h4>
                  <a href="">Добавить к заказу</a>
                </div>

          </div>
          <div class="add_card">
            <a href="">Добавить в корзину</a>
          </div>
          </div>
        </div>

      </div>
      <div class="reviews">
        <h2>Отзывы клиентов</h2>
        <div class="review_category">
          <p onclick="setActive(this)">Положительные (65)</p>
          <p onclick="setActive(this)">Отрицательные (10)</p>
        </div>
        <div class="reviews_list">
          <div class="review">
            <div class="header_review">
              <div class="photo">
                <img src="img/Ellipse 70.png" alt="">
              </div>
              <div class="info_review">
                <div class="info_user">
                  <h3>Никита Евреев</h3>
                </div>
                <div class="evaluation">
                  <img src="img/Star 6.svg" alt="">
                  <img src="img/Star 6.svg" alt="">
                  <img src="img/Star 6.svg" alt="">
                  <img src="img/Star 6.svg" alt="">
                  <img src="img/Star 11.svg" alt="">
                </div>
              </div>
            </div>
            <div class="text_review">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus tincidunt eget eu, eget commodo condimentum non, fringilla fermentum. Morbi sed enim facilisis metus pretium leo, mauris. In egestas cursus orci dignissim in lectus nulla. </p>
            </div>
          </div>
        </div>
      </div>
      <script src="js/app.js"></script>

    </div>