{% load static %}

<footer class="footer">
    <i class="text_footer">
        <h3>M&N Digital</h3>
    </i>
    <div class="contacts">
        <a href=""><img src="{% static 'img/vk.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/telegram.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/icons8-github.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/email.png' %}" alt=""></a>
        <a href=""><img src="{% static 'img/behance.svg' %}" alt=""></a>
    </div>
</footer>