<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M&N Digital</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <meta name="theme-color" content="#fafafa">
  </head>
<body>
    
    <div class="auth_view">
        <div class="authorization_form">
            <p>Добро пожаловать!</p>
            <h2>Войдите в свой аккаунт</h2>
            <div class="input_auth_data">
                <label for="username">Логин</label>
                <input type="text" id="username" placeholder="Введите логин">
            </div>
            <div class="input_auth_data">
                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="Введите пароль">
            </div>

            <div class="forgot_pass">
                <a href="">Забыли пароль?</a>
            </div>
            <div class="enter_auth">
                <a href="">Войти</a>
            </div>


            <div class="registration">
                <p>У Вас ещё нет аккаунта?</p>
                <a href="">Зарегистрируйтесь</a>
            </div>
        </div>
        <div class="authorization_photo">
            <img src="img/auth_photo.png" alt="">
        </div>
    </div>

</body>
</html>